# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Sep 4 2019 12:05:08

# Family & Device:    iCE40LP8K

# Package:            CM81

# ##############################################################################

###IOSet List 12
set_io i_MOSI B1
set_io i_SCLK A6
set_io i_SSEL D1
set_io i_pps_raw A2
set_io i_rx A9
set_io o_MISO C1
set_io o_ch_2 E1
set_io o_ch_1 H1
set_io i_clk_10 D8
set_io i_rst A8
set_io o_ch_0 H2
set_io o_tx H9

